<div class="alert alert-danger"
    *ngIf="errorMessage">
    {{errorMessage}}
</div>
<div class="mat-elevation-z8" style="width: 90%" >
    <mat-table [dataSource]="dataSource" *ngIf="dataSource">
    <ng-container  matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef>Order ID</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.orderId}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
        <mat-cell *matCellDef="let dataSource"><a [routerLink]="['/customerdetails',dataSource.customer.customerId]">{{dataSource.customer.firstName}}</a></mat-cell>
    </ng-container>
        <ng-container  matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.customer.lastName}}</mat-cell>
    </ng-container>
        <ng-container  matColumnDef="msisdn">
        <mat-header-cell *matHeaderCellDef>MSISDN</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.msisdn.msisdn}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="extPortRequestId">
        <mat-header-cell *matHeaderCellDef>Portout id</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.extPortRequestId}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="orderStatus">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.orderStatus}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="statusReason">
        <mat-header-cell *matHeaderCellDef>Reason</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.statusReason}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="createdOn">
        <mat-header-cell *matHeaderCellDef>Created On</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{dataSource.createdOn | date: 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="updatedOn">
        <mat-header-cell *matHeaderCellDef>Updated on</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{ dataSource.updatedOn| date:'dd/MM/yyyy HH:mm:ss' }}</mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
    </mat-table>
    </div>